<% compute_attributes = compute_attributes_from_params(compute_resource) -%>
<%= javascript_include_tag 'foreman_xen/xenserver/cache_refresh' %>

<!-- VM Profile -->
<div class="children_fields">
  <%= field_set_tag 'VM Profile', :id => 'vm_profile', :title => _('VM Profile') do -%>
      <%= render 'compute_resources_vms/form/profile', :f => f, :compute_resource => compute_resource %>
  <% end -%>
</div>

<!-- ISOs -->
<div class="children_fields">
  <%= field_set_tag 'Attach ISO', :id => 'xen_isos', :title => _('ISOs') do -%>
      <%= render 'compute_resources_vms/form/isos', :f => f, :compute_resource => compute_resource, compute_attributes: compute_attributes %>
  <% end -%>
</div>

<!-- Hypervisor -->
<div class="children_fields" id="xenserver-hosts">
  <%= field_set_tag 'Start on server', :id => 'xen_hypervisors', :title => _('Start on server') do -%>
      <%= render 'compute_resources_vms/form/hypervisors', :f => f, :compute_resource => compute_resource %>
  <% end -%>
</div>

<!-- Startup -->
<% start_checked = compute_attributes.dig(:start) == '0' ? false : true -%>
<div class="children_fields" id="xenserver-vm-start">
  <%= field_set_tag 'VM Startup Options', :id => 'vm_startup_options', :title => _('Power ON VM') do -%>
      <%= checkbox_f f, :start, :checked => start_checked, :label => _("Power ON VM") %>
  <% end -%>
</div>

<!-- Provisioning -->
<%
   arch ||= nil ; os ||= nil
   images = possible_images(compute_resource, arch, os)
%>
<%= render 'compute_resources_vms/form/image_provisioning', f: f, compute_resource: compute_resource, images: images %>
<%= render 'compute_resources_vms/form/network_provisioning', f: f, compute_resource: compute_resource %>
