<% new = f.object
   attribute_map = compute_attribute_map(params, compute_resource, new)
   hide_raw = ''
   if params && params['host'] && params['host']['compute_attributes'] && params['host']['compute_attributes']['custom_template_name'] != ''
     hide_raw = 'display:none;'
   end
   if controller_name == 'hosts'
     fields_enabled = true
     start_enable   = true
   elsif controller_name == 'compute_attributes'
     fields_enabled     = true
     compute_attributes = compute_resource.compute_profile_attributes_for(params['compute_profile_id'])
     name               = compute_attributes['name']
   else
     fields_enabled = false
   end
-%>

<%= javascript_tag("$(document).on('ContentLoad', tfm.numFields.initAll)"); %>
<!-- VM Initial Settings -->
<div class="children_fields">
  <fieldset id="vm_profile">
    <legend>VM Profile</legend>
    <div class="fields">
      <!--<%= text_f f, :name, :disabled => !fields_enabled, :value => name, :label => 'Name' if controller_name != 'hosts' %>-->
      <%= counter_f f,   :vcpus_max,  :disabled => !fields_enabled, :label => _('vCPUs'),      :label_size => 'col-md-2', :'data-soft-max' => compute_resource.max_cpu_count %>
      <%= byte_size_f f, :memory_min, :disabled => !fields_enabled, :label => _('Memory Min'), :label_size => "col-md-2", :'data-soft-max' => compute_resource.max_memory %>
      <%= byte_size_f f, :memory_max, :disabled => !fields_enabled, :label => _('Memory Max'), :label_size => "col-md-2", :'data-soft-max' => compute_resource.max_memory %>
    </div>
  </fieldset>
</div>

<%
   arch ||= nil ; os ||= nil
   images = possible_images(compute_resource, arch, os)
%>
<div id='image_selection'>
  <%= select_f f, :image_id, images, :uuid, :name,
               { :include_blank => (images.empty? || images.size == 1) ? false : _('Please select an image') },
               { :disabled => images.empty?, :label => _('Image'), :label_size => "col-md-2" } %>
</div>

<!-- Network -->
<div class="children_fields" id="xenserver-network" style="">
  <%= field_set_tag 'Network interfaces', :id => 'network_interfaces', :title => _('Networks') do -%>
      <%= f.fields_for :VIFs do |i| %>
          <%= render 'compute_resources_vms/form/network', :f => i, :compute_resource => compute_resource, :new => new, :attribute_map => attribute_map %>
      <% end -%>
  <% end -%>
</div>

<!-- Startup -->
<div class="children_fields" id="xenserver-vm-start" style="<%= hide_raw %>">
  <%= field_set_tag 'VM Startup Options', :id => 'vm_startup_options', :title => _('Power ON VM') do -%>
      <%= checkbox_f f, :start, :checked => (attribute_map[:power_on] == '1' || start_enable), :label => _("Power ON VM") %>
  <% end -%>
</div>
